@tailwind base;
@tailwind components;
@tailwind utilities;

.task-data {
    background-color: #f0eded;
    min-height: 100vh;
   }

   .spinner {
    padding-top: 30vh;
   }

.form-bg {
    background-color: #f0eded;
}